<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    {{/* Correct the path to the main JavaScript file */}}
    <script src="{{ "/js/main.js" | relURL }}" defer></script>
</head>
<body>
    <div class="container">
        <header class="site-header">
            {{ partial "header.html" . }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="site-footer">
            {{ partial "footer.html" . }}
        </footer>
    </div>
</body>
</html>